<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Consumption Summary</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div>
    <h1>Energy Consumption Summary</h1>
    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% else %}
    <!-- Form for selecting the period -->
    <form method="post" action="{{ url_for('energy_cost_summary') }}">
        <label for="select_period">Select Period:</label>
        <select id="select_period" name="select_period">
            <!-- Add options dynamically based on available periods -->
            {% for period in available_periods %}
                <option value="{{ period }}" {% if selected_period == period %}selected{% endif %}>{{ period }}</option>
            {% endfor %}
        </select>

{#        <label for="time_granularity">Time Granularity:</label>#}
{#        <select id="time_granularity" name="time_granularity">#}
{#            <option value="daily" {% if time_granularity == 'daily' %}selected{% endif %}>Daily</option>#}
{#            <option value="monthly" {% if time_granularity == 'monthly' %}selected{% endif %}>Monthly</option>#}
{#        </select>#}

        <button type="submit">Show Data</button>
    </form>


    <canvas id="energyChart" width="400" height="200"></canvas>

    {% endif %}
</div>

<script>
// Get chart data from Flask template variable
var chartData = {{ chart_data | tojson }};

// Extract labels and values
var labels = chartData.labels;
var values = chartData.values;

// Create a bar chart
var ctx = document.getElementById('energyChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Energy Cost',
            data: values,
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Adjust color as needed
            borderColor: 'rgba(75, 192, 192, 1)', // Adjust color as needed
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>

</body>
</html>